<br />

<div class="container">
  <div class="list-group" >
    <a class="list-group-item active" >
        {{this.Company?.Name}} Details
    </a>
  </div>

  <div class="list-group" >
      <a class="list-group-item active" >
          Projects
      </a>
      <a class="list-group-item" *ngFor="let companyProject of CurrentCompanyProjects" href="/project/{{companyProject.ID}}">{{companyProject.Name}}</a>
  </div>

  <div class="list-group" >
      <a class="list-group-item active" >
          Skills
      </a>
    </div>
</div>