<br>

<div class="container">
  <div class="list-group" >
      <a class="list-group-item active" >
          {{this.Project?.Name}} Details
    </a>
  </div>

  <div class="list-group" >
    <a class="list-group-item active" >
        Company
    </a>
    <a class="list-group-item" *ngFor="let projectCompany of CurrentProjectCompanies" href="/company/{{projectCompany.ID}}">{{projectCompany.Name}}</a>
</div>

  <div class="list-group" >
      <a class="list-group-item active" >
          skills
      </a>
      <a class="list-group-item" *ngFor="let projectSkill of CurrentProjectSkills" href="/skill/{{projectSkill.ID}}">{{projectSkill.Name}}</a>
  </div>
</div>